.counseling

    .counseling__heading
        h3 AQENE vs traditional in office counseling
    .counseling__table
        //.counseling__table-tab#table-tab
        //    .counseling__table-tab--item AQENE
        //    .counseling__table-tab--item In Office
        .counseling__table-header
            .counseling__table-title Feature
            .counseling__table-title.counseling__table-tab.counseling__table-title--active AQENE
            .counseling__table-title.counseling__table-tab.counseling__table-title--inactive In Office
        .counseling__table-body
            +tableLine('Provided by a licensed therapist', 'true')
            +tableLine('In-office visits', 'true', 'true')
            +tableLine('Messaging at any time', 'true')
            +tableLine('Chat sessions', 'false', 'true')
            +tableLine('Provided by a licensed therapist', 'true', 'false')
            +tableLine('In-office visits', 'false', 'false')
            +tableLine('Messaging at any time', 'true', 'true')
            +tableLine('Chat sessions', 'true', 'false')
            +tableLine('In-office visits', 'true', 'false')
            +tableLine('Chat sessions', 'false', 'true')

    //.counseling__table
    //    .counseling__table-desc
    //        .counseling__table-head Feature
    //
    //        .counseling__table-name Provided by a licensed therapist
    //        .counseling__table-name In-ffice visits
    //        .counseling__table-name Messaging at any time
    //        .counseling__table-name Chat sessions
    //        .counseling__table-name Provided by a licensed therapist
    //        .counseling__table-name In-ofice visits
    //        .counseling__table-name Messaging at any time
    //        .counseling__table-name Chat sessions
    //        .counseling__table-name In-ffice visits
    //        .counseling__table-name Messaging at any time
    //
    //    .counseling__table-check.counseling__table-check--active
    //        .counseling__table-inner
    //            .counseling__table-head AQENE
    //
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check.icon-check__false
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check.icon-check__false
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check.icon-check__false
    //
    //    .counseling__table-check
    //        .counseling__table-inner
    //            .counseling__table-head In Office
    //
    //            .counseling__table-item
    //                i.icon-check.icon-check__false
    //            .counseling__table-item
    //                i.icon-check
    //                    +iconSvg('20', '20', '0 0 20 20', 'icon-check')
    //            .counseling__table-item
    //                i.icon-check.icon-check__false