.socials__menu
    a(href="#")
        img(src="src/blocks/social-link/assets/img/twitter.svg")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/facebook.svg")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/linkedin.svg")
    a(href="#")
        img(src="src/blocks/social-link/assets/img/youtube.svg")